body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 400px;
}

#progress .times,
.card-footer,
.volume-container,
.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volume-container i {
    margin-right: 5px;
}

i,
input,
li {
    cursor: pointer;
}

.list-group-item span {
    pointer-events: none;
}